{
    "svelteSortOrder" : "options-scripts-markup-styles",
    "svelteStrictMode": true,
    "svelteBracketNewLine": false,
    "svelteAllowShorthand": false,
    "svelteIndentScriptAndStyle": true,
    "semi": true,
    "trailingComma": "none",
    "singleQuote": true,
    "printWidth": 80
  }